name: run-tests-and-upload-coverage

on:
  push:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

  pull_request:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

jobs:
  test-with-cov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          cache: npm
          cache-dependency-path: package/package-lock.json
          node-version: 16.x

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        with:
          path: |
            ./package/node_modules
          key: cache-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            cache-${{ env.cache-name }}-
            cache-
        env:
          cache-name: test-with-cov

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: cd package && npm install

      - name: Run unit tests
        run: cd package && npm test

      - name: Upload coverage results
        uses: codecov/codecov-action@v3
        with:
          verbose: true
